body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #E9E9E9;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #080808;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 5px;
}

.cart-button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.goods-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    min-width: 70px;
    border: 1px solid #E9E9E9;
    padding: 20px;
}

.goods-item-btn{
border: 1px solid rgb(167, 152, 152);
border-radius: 5px;
padding: 3px;
}

.goods-item-btn:hover{
background-color: rgba(255, 255, 255, 0.075);
cursor: pointer;
border-color: rgb(250, 187, 200) ; 
}
